Repository tidy-finance/website, pull requests merged in 2024-05, with the labels that each got.

#111 Update to pandas 2.2.2
  _freeze/python/introduction-to-tidy-finance/execute-results/html.json
  _freeze/python/introduction-to-tidy-finance/figure-html/fig-100-output-1.png
  _freeze/python/introduction-to-tidy-finance/figure-html/fig-103-output-1.png
  _freeze/python/introduction-to-tidy-finance/figure-html/fig-104-output-1.png
  _freeze/python/introduction-to-tidy-finance/figure-html/fig-105-output-1.png
  _freeze/python/introduction-to-tidy-finance/figure-html/fig-106-output-1.png
  docs/python/introduction-to-tidy-finance.html
  docs/python/introduction-to-tidy-finance_files/figure-html/fig-100-1.png
  docs/python/introduction-to-tidy-finance_files/figure-html/fig-100-output-1.png
  docs/python/introduction-to-tidy-finance_files/figure-html/fig-101-1.png
  docs/python/introduction-to-tidy-finance_files/figure-html/fig-103-1.png
  docs/python/introduction-to-tidy-finance_files/figure-html/fig-103-output-1.png
  docs/python/introduction-to-tidy-finance_files/figure-html/fig-103-output-2.png
  docs/python/introduction-to-tidy-finance_files/figure-html/fig-104-1.png
  docs/python/introduction-to-tidy-finance_files/figure-html/fig-104-output-1.png
  docs/python/introduction-to-tidy-finance_files/figure-html/fig-105-1.png
  docs/python/introduction-to-tidy-finance_files/figure-html/fig-105-output-1.png
  docs/python/introduction-to-tidy-finance_files/figure-html/fig-106-1.png
  docs/python/introduction-to-tidy-finance_files/figure-html/fig-106-output-1.png
  docs/search.json
  docs/sitemap.xml
  python/.DS_Store
  python/introduction-to-tidy-finance.qmd
  requirements.txt
Labels: python

#114 Crsp v2 revision
  _freeze/python/wrds-crsp-and-compustat/execute-results/html.json
  _freeze/python/wrds-crsp-and-compustat/figure-html/fig-211-output-1.png
  _freeze/python/wrds-crsp-and-compustat/figure-html/fig-212-output-1.png
  _freeze/python/wrds-crsp-and-compustat/figure-html/fig-213-output-1.png
  _freeze/python/wrds-crsp-and-compustat/figure-html/fig-214-output-1.png
  _freeze/python/wrds-crsp-and-compustat/figure-html/fig-215-output-1.png
  _freeze/r/wrds-crsp-and-compustat/execute-results/html.json
  _freeze/r/wrds-crsp-and-compustat/figure-html/fig-211-1.png
  _freeze/r/wrds-crsp-and-compustat/figure-html/fig-212-1.png
  _freeze/r/wrds-crsp-and-compustat/figure-html/fig-213-1.png
  _freeze/r/wrds-crsp-and-compustat/figure-html/fig-214-1.png
  _freeze/r/wrds-crsp-and-compustat/figure-html/fig-215-1.png
  docs/python/wrds-crsp-and-compustat.html
  docs/python/wrds-crsp-and-compustat_files/figure-html/fig-211-output-1.png
  docs/python/wrds-crsp-and-compustat_files/figure-html/fig-211-output-2.png
  docs/python/wrds-crsp-and-compustat_files/figure-html/fig-212-output-1.png
  docs/python/wrds-crsp-and-compustat_files/figure-html/fig-212-output-2.png
  docs/python/wrds-crsp-and-compustat_files/figure-html/fig-213-output-1.png
  docs/python/wrds-crsp-and-compustat_files/figure-html/fig-213-output-2.png
  docs/python/wrds-crsp-and-compustat_files/figure-html/fig-214-output-1.png
  docs/python/wrds-crsp-and-compustat_files/figure-html/fig-214-output-2.png
  docs/python/wrds-crsp-and-compustat_files/figure-html/fig-215-output-1.png
  docs/r/wrds-crsp-and-compustat.html
  docs/r/wrds-crsp-and-compustat_files/figure-html/fig-211-1.png
  docs/r/wrds-crsp-and-compustat_files/figure-html/fig-212-1.png
  docs/r/wrds-crsp-and-compustat_files/figure-html/fig-213-1.png
  docs/r/wrds-crsp-and-compustat_files/figure-html/fig-214-1.png
  docs/r/wrds-crsp-and-compustat_files/figure-html/fig-215-1.png
  docs/search.json
  docs/sitemap.xml
  python/wrds-crsp-and-compustat.qmd
  r/wrds-crsp-and-compustat.qmd
Labels: bug, python, R

#113 Clarified creation and replacement of environment variables for WRDS connection
  _freeze/python/setting-up-your-environment/execute-results/html.json
  _freeze/python/wrds-crsp-and-compustat/execute-results/html.json
  _freeze/r/setting-up-your-environment/execute-results/html.json
  _freeze/r/wrds-crsp-and-compustat/execute-results/html.json
  docs/python/setting-up-your-environment.html
  docs/python/wrds-crsp-and-compustat.html
  docs/r/setting-up-your-environment.html
  docs/r/wrds-crsp-and-compustat.html
  docs/search.json
  docs/sitemap.xml
  python/setting-up-your-environment.qmd
  python/wrds-crsp-and-compustat.qmd
  r/setting-up-your-environment.qmd
  r/wrds-crsp-and-compustat.qmd
Labels: enhancement, python, R
